*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;   
}

.container-digiconf{
    width: 90%;
    margin: 0 auto;    
    padding: 2em;
}

.card{
    width: 25%;
    height: 400px;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-rows: 50px auto 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 25px;
}

.card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}


.card-content input{
    margin: 25px auto auto 25px;
    width:  75%;
   
}
.card-bottom a{    
    text-decoration: none; 
    text-decoration-style:none;
    
}
.card-bottom {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom:10%;
}

#company-top{
    background-color: #F4B605;
    display: flex;  
    justify-content: center;
    text-transform:uppercase;
  
}
.content-form h4  { 
    margin:5%;
    display: flex;  
    justify-content: start;      
    align-items: start;      
    font-size: 1rem;  
    font-weight: 100;
    text-transform:uppercase;
}
.content-form input  {  
    display: flex;  
    justify-content: center;       
    text-align:center; 
    margin:5%;
    padding: 15px;
}


.btn-style{ 
  border: 0;
  line-height: 2;
  padding: 5px 15px;
  font-size: 1rem;
  display: flex;  
  justify-content: center;
  text-transform:uppercase;
  color: #fff; 
  border-radius: 8px;
  background: linear-gradient(45deg, #F4B605, #F29100);
 
                                    
}

.btn-style:hover {
    background: linear-gradient(10deg, #F29100, #F29100);
}

